{% include 'publicheader.html' %}
<div class="divmain">
    <form action="" method="post" enctype="multipart/form-data">
    <h2 class="text-black">Store Registration</h2>
    <div class="box">
        <table class="table" style="width: 600px;color: rgb(0, 0, 0);">
            <tr>
                <th>Storename</th>
                <td><input type="text" name="sname" class="form-control" required value="{% if data['upstation'] %}{{data['upstation'][0]['station_name']}}{% endif %}"></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" name="place" class="form-control" required value="{% if data['upstation'] %}{{data['upstation'][0]['place']}}{% endif %}"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" name="phone" class="form-control" pattern="[0-9]{10}" title="Phone Number Must Contain 10 Numbers" required value="{% if data['upstation'] %}{{data['upstation'][0]['phone']}} {% endif %}"></td>
            </tr>
            <tr>
                <th>Image</th>
                <td><input type="file" name="img" class="form-control"  required value="{% if data['upstation'] %}{{data['upstation'][0]['phone']}} {% endif %}"></td>
            </tr>
            <tr>
                <th>Building Name</th>
                <td><input type="text" name="bname" class="form-control" ></td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td><input type="text" name="pincode" class="form-control" pattern="[0-9]{6}" title="Pincode  Must Contain 6 Numbers" required value="{% if data['upstation'] %}{{data['upstation'][0]['phone']}} {% endif %}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" name="email" class="form-control" class="form-control" required value="{% if data['upstation'] %}{{data['upstation'][0]['email']}} {% endif %}"></td>
            </tr>
            {% if data['upstation'] %}

            {% else %}
            <tr>
                <th>Username</th>
                <td><input type="text" name="uname" class="form-control" class="form-control" required></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="passw" class="form-control" class="form-control" required></td>
            </tr>

            {% endif %}
            <tr>
                <td align="center" colspan="2"><input type="submit" {% if data['upstation'] %} name="edit" value="Update"  {% else %} name="add" value="Register" {% endif %}  class="btn btn-success"></td>
            </tr>
        </table>
    </div>
</form>
</div>
{% include 'footer.html' %}